.headContainer {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headMainText {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.headSecText {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.heroButton {
  margin: 2rem 0;
  background-color: #b9982d !important;
}
.backButton {
  margin: 0;
  background-color: #2db97c !important;
}

.heroButton a {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: initial;
  letter-spacing: 0.3px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: up-down 1s ease infinite;
  margin-bottom: 3rem;
}

/* Animation */
@keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}
