.servicesCard {
  max-width: 250px;
  margin: 0 0 2rem 0;
}

.servicesCard h2 {
  margin: 0.5rem 0;
  font-weight: 600;
}

.servicesCard p {
  margin: 0.5rem 0 1rem 0;
  font-weight: 400;
}

.servicesCard a {
  text-decoration: none;
  color: #58aa87;
  border-bottom: #58aa87 1px solid;
}

.servicesCard a:hover {
  color: #000;
  border-bottom: #000 1px solid;
}
