/* Our team */
.teamHeaderContainer {
  width: 100%;
  text-align: center;
  padding: 0 2rem;
}

.teamHeaderContainer p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: #58aa87;
}

.teamHeaderContainer h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5px;
}

.teamContainer {
  padding: 3rem;
}

.personContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
  gap: 5rem;
}

.personDetails {
  max-width: 600px;
}

.personImageContainer {
  position: relative;
  width: 200px;
  height: 230px;
  overflow: hidden;
  border-radius: 2px;
}
.personImage {
  width: 100%;
  height: auto;
}
