.servicesCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 250px;
  max-height: 350px;
  width: 100%;
  transition: var(--transition);
}

.servicesCard__details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
  transition: var(--transition);
}

.servicesCard__title {
  margin: 0.5rem 0;
  font-weight: 600;
  transition: var(--transition);
}

.servicesCard__desc {
  margin: 0.5rem 0 1rem 0;
  font-weight: 400;
  transition: var(--transition);
}

.servicesCard__link {
  text-decoration: none;
  color: #58aa87;
  border-bottom: #58aa87 1px solid;
  transition: var(--transition);
}

.servicesCard__link:hover {
  color: #000;
  border-bottom: #000 1px solid;
}
