.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: calc(100vh - 178px);
  gap: 2rem;
  max-width: 1300px;
  margin: 0 auto;
  animation: var(--animation);
  transition: var(--transition);
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: var(--animation-up-down);
  margin-bottom: 3rem;
  transition: var(--transition);
}

/* Un elemento seguido de otro - abajo */
.heroText {
  min-width: 400px;
  transition: var(--transition);
}

.heroTextMain {
  font-size: 3.75rem;
  font-weight: 600;
  margin: 0;
  transition: var(--transition);
}
.heroTextSecondary {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 20px 0;
  transition: var(--transition);
}

.heroButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  max-width: 150px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  background-color: #2db97c;
  border: 1px solid #2db97c;
  transition: var(--transition);
}

.heroButton:hover {
  background-color: #fff;
  color: #000;
}

.heroImageContainer {
  position: relative;
  width: 100%;
  max-width: 350px;
  text-align: center;
  animation: var(--animation);
  transition: var(--transition);
}

.heroImage {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
  transition: var(--transition);
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* flex-wrap: wrap; */
  background: #fafafa;
  padding: 2rem;
  margin: 5rem 0;
  transition: var(--transition);
}

/* Media Queries */

@media screen and (max-width: 1025px) {
  .heroTextMain {
    font-size: 45px;
  }
}

@media screen and (max-width: 920px) {
  .heroImageContainer {
    max-width: 300px;
  }
}
@media screen and (max-width: 868px) {
  .heroText {
    min-width: 310px;
  }

  .heroContainer {
    justify-content: space-between;
    padding: 0 2rem;
  }
}

@media screen and (max-width: 767px) {
  .heroContainer {
    justify-content: center;
    padding: 0;
  }
  .heroImageContainer {
    display: none;
  }
  .heroTextMain {
    font-size: 60px;
  }
  .heroTextSecondary {
    font-size: 1.25rem;
  }

  .cardContainer {
    flex-wrap: wrap;
    padding: 2rem 0;
  }

  .heroContainer {
    height: calc(100vh - 97px);
  }

  .bookingMainText {
    font-size: 1.5em;
  }
  .bookingText {
    min-width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .mainTitle {
    font-size: 2rem;
  }
}

@media screen and (max-width: 470px) {
  .cardContainer {
    margin: 0;
    margin-top: 5rem;
  }
}

@media screen and (max-width: 460px) {
  .personImageContainer {
    width: 200px;
    height: 250px;
  }
  .bookingImageContainer {
    display: none;
  }

  .personContainer {
    flex-wrap: wrap;
    gap: 3rem;
  }

  .heroTextMain {
    font-size: 3.2rem;
  }
}
@media screen and (max-width: 360px) {
  .heroText {
    min-width: initial;
  }
  .heroTextMain {
    font-size: 2.5rem;
  }
}
