.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 78vh;
  flex: 1;
  gap: 2rem;
  padding: 0 8rem;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: up-down 1s ease infinite;
  margin-bottom: 3rem;
}

/* Un elemento seguido de otro - abajo */
.heroText {
  min-width: 400px;
}

.heroTextMain {
  font-size: 3.75rem;
  font-weight: 600;
  margin: 0;
}
.heroTextSecondary {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0;
}

.heroButton {
  margin: 12px 0;
  background-color: #2db97c !important;
}

.heroButton a {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: initial;
  letter-spacing: 0.3px;
}

.heroImageContainer {
  max-width: 450px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* flex-wrap: wrap; */
  background: #fafafa;
  padding: 2rem;
  margin: 5rem 0;
}

.servicesContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 5rem 3rem;
}

.servicesCardImage {
  background-image: url("/services.jpg");
  width: 100%;
  max-width: 400px;
  background-size: cover;
  /* background-position: left; */
}
.servicesCardContainer {
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  max-width: 1027px;
}

.cardHeader {
  width: 100%;
}

.cardHeader p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: #58aa87;
}

.cardHeader h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5px;
}

/* Our team */
.teamHeaderContainer {
  width: 100%;
  text-align: center;
  padding: 0 2rem;
}

.teamHeaderContainer p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  color: #58aa87;
}

.teamHeaderContainer h2 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5px;
}

/* Booking */

.bookingSection {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2db97c;
  padding: 2rem;
  gap: 1rem;
  margin-top: 3rem;
}
.bookingButton {
  margin: 12px 0;
  background-color: #fff !important;
  color: black !important;
}

.bookingText {
  min-width: 330px;
}
/* Footer */
.footer {
  border-top: 1px solid #eaeaea;
  padding: 4rem;
  background-color: #fafafa;
}

.footerContactDetailsContainer {
  display: flex;
  flex: 1;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 3rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.socialMediaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.lowerFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terminos {
  display: flex;
  gap: 2rem;
}

/* Animations */

@keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

/* Media Queries */

@media screen and (min-width: 1441px) {
  .heroContainer {
    justify-content: center;
  }
}

@media screen and (max-width: 1079px) {
  .servicesCardImage {
    display: none;
  }
}
@media screen and (max-width: 1025px) {
  .heroTextMain {
    font-size: 45px;
  }
}

@media screen and (max-width: 920px) {
  .heroImageContainer {
    max-width: 350px;
  }
}
@media screen and (max-width: 868px) {
  .heroText {
    min-width: 310px;
  }
  .heroImageContainer {
    max-width: 300px;
  }
}

@media screen and (max-width: 767px) {
  .heroContainer {
    justify-content: center;
    padding: 0;
  }
  .heroImageContainer {
    display: none;
  }
  .heroTextMain {
    font-size: 60px;
  }
  .heroTextSecondary {
    font-size: 1.25rem;
  }

  .cardContainer {
    flex-wrap: wrap;
    padding: 2rem 0;
  }

  .heroContainer {
    height: 43vh;
    margin-top: 10rem;
  }

  .bookingMainText {
    font-size: 1.5em;
  }
  .bookingText {
    min-width: 250px !important;
  }
}
@media screen and (max-width: 600px) {
  .mainTitle {
    font-size: 2rem !important;
  }
  .bookingMainText {
    font-size: 1.2rem;
  }
  .bookingText {
    min-width: 202px !important;
  }
  .footer {
    padding: 5rem 2rem;
    gap: 2rem;
  }
}
@media screen and (max-width: 460px) {
  .personImageContainer {
    width: 200px;
    height: 250px;
  }
  .bookingText {
    min-width: 170px !important;
  }
  .bookingMainText {
    font-size: 1rem;
  }

  .personContainer {
    flex-wrap: wrap;
    gap: 3rem;
  }

  .heroTextMain {
    font-size: 3.2rem;
  }
  .lowerFooter {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
}
