.heroContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 78vh;
  flex: 1;
  gap: 2rem;
  padding: 0 8rem;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  animation: up-down 1s ease infinite;
  margin-bottom: 3rem;
}

/* Un elemento seguido de otro - abajo */
.heroText {
  min-width: 400px;
}

.heroTextMain {
  font-size: 3.75rem;
  font-weight: 600;
  margin: 0;
}
.heroTextSecondary {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 20px 0;
}

.heroButton {
  margin: 12px 0;
  background-color: #2db97c !important;
}

.heroButton a {
  font-size: 15px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  text-transform: initial;
  letter-spacing: 0.3px;
}

.heroImageContainer {
  max-width: 450px;
}

.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* flex-wrap: wrap; */
  background: #fafafa;
  padding: 2rem;
}

.servicesContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  padding: 3rem;
}

.servicesCardImage {
  background-image: url("/services2.jpg");
  width: 100%;
  max-width: 400px;
  background-size: cover;
  /* background-position: left; */
}
.servicesCardContainer {
  display: flex;
  justify-content: space-around;
  flex: 1;
  flex-wrap: wrap;
  background: #fafafa;
  padding: 1.5rem 3rem;
  max-width: 1027px;
}

.cardHeader {
  width: 100%;
}

.cardHeader p {
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

.cardHeader h2 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5px;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* Animations */

@keyframes up-down {
  0% {
    transform: translateY(20px);
  }
  25% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

/* Media Queries */

@media screen and (max-width: 920px) {
  .heroImageContainer {
    max-width: 350px;
  }
}
@media screen and (max-width: 767px) {
  .heroContainer {
    justify-content: center;
    padding: 0;
  }
  .heroImageContainer {
    display: none;
  }
  .heroTextMain {
    font-size: 60px;
  }
  .heroTextSecondary {
    font-size: 1.25rem;
  }

  .cardContainer {
    flex-wrap: wrap;
    padding: 2rem 0;
  }

  .heroContainer {
    height: 43vh;
    margin-top: 10rem;
  }
}
@media screen and (max-width: 868px) {
  .heroText {
    min-width: 310px;
  }
  .heroImageContainer {
    max-width: 300px;
  }
}
@media screen and (max-width: 1025px) {
  .heroTextMain {
    font-size: 45px;
  }
}
@media screen and (max-width: 1079px) {
  .servicesCardImage {
    display: none;
  }
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
